img.nav-icon {
  width: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

img.aux-icon {
  width: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

img.h2-icon {
  width: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

img.h3-icon {
  width: 16px;
  margin-right: 8px;
  vertical-align: baseline;
}

.main-content a {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: normal;
}
