---
layout: page
title: Exchanges
permalink: /exchanges/

nav_order: 110

tag: exchanges
tag2: dexs
tag3: swap services
sort: description
sort2: title
sort3: title
---
<h1>Exchanges</h1>
<p>ChiaLinks is not affiliated with and cannot endorse any of the exchanges listed here.</p>

<h2>Decentralized Exchanges (DEXs)</h2>
Offers are a unique functionality on the Chia Blockchain. Decentralized exchanges leverage these Offers files to facilitate trading XCH and other Chia assets without an intermediary, counterparty risk, or exchange fees. This is the recommended way to trade.

<table>
  <thead>
    <tr>
      <th style="text-align: left">Exchange</th>
      <th style="text-align: left">Description</th>
      <th style="text-align: left">Trading Pair</th>
  </thead>
  {% include tablerows.html tag=page.tag2 sort=page.sort2 %}
</table>


<h2>Traditional Exchanges</h2>
Traditional centralized exchanges (CEXs) often require sign-up and depositing of fiat or crypto coins into a custodial wallet to use the exchange services.

<table>
  <thead>
    <tr>
      <th style="text-align: left">Exchange</th>
      <th style="text-align: left">Country</th>
      <th style="text-align: left">Trading Pair</th>
  </thead>
  {% include tablerows.html tag=page.tag sort=page.sort %}
</table>


<h2>Swap Services</h2>
Swap services generally do not require sign-up and allow the swap of one crypto for another. These services typically charge higher fees. Use with common sense and caution.

<table>
  <thead>
    <tr>
      <th style="text-align: left">Exchange</th>
      <th style="text-align: left">Description</th>
      <th style="text-align: left">Trading Pair</th>
  </thead>
  {% include tablerows.html tag=page.tag3 sort=page.sort3 %}
</table>
