{% assign sorted_news = site.data.news | sort: 'date' | reverse %}
{% assign lastdate = "" %}
{% for item in sorted_news limit: include.top %}
  {% if lastdate != item.date %}
    {% assign lastdate = item.date %}
    <h3><img src="/assets/icons/calendar.png" class="h3-icon" />{{ item.date | date: "%B %d, %Y" }}</h3>
  {% endif %}
  <div class="lh-tight mb-4">
    <span class="fs-4 fw-500"><a href="{{ item.url }}">{{ item.title }}</a></span>
    <br />
    <span class="fs-2 fw-400">{{ item.site }}</span>
  </div>
{% endfor %}
