{% comment %}
Logic flow (if tag has sections):
  - Fetch all links that are tagged with "include.tag" parameter
  - Sort links alphabetically
  - Iterate through all "section" tags from site.data.tags.sections (except current tag)
    - Fetch subset of links that are also in this section
    - If this subset is non-empty
      - add the header
      - iterate through each link to populate it (suppressing the tag of the page)
  - Repeat for miscellaneous section
Logic flow (if tag has no sections)
 - Iterate through all sorted links and display (suppressing the tag of the page)
{% endcomment %}

{% assign links = site.data.links | where_exp: "item", "item.tags contains include.tag" %}
{% assign sorted_links = links | sort_natural: 'name' %}

{% if site.data.tags.has_sections contains include.tag %}
  {% for section in site.data.tags.sections %}
    {% if section != include.tag %}
      {% assign section_links = sorted_links | where_exp: "item", "item.tags contains section" %}
      {% if section_links.size > 0 %}
        <a name="{{ section }}"></a><h2><img src="/assets/icons/{{ section }}.png" class="h2-icon" />{{ section | capitalize }}</h2>
        <table>
          <thead>
            <tr>
              <th style="text-align: left">Pool</th>
              <th style="text-align: left">Comments</th>
            </tr>
          </thead>
          <tbody>
          {% for link in section_links %}
            <tr>
              <td style="text-align: left">
                {% if link.referral_url != nil %}
                <a href="{{ link.referral_url }}">{{ link.name }}</a>
                {% else %}
                <a href="{{ link.url }}">{{ link.name }}</a>
                {% endif %}
                {% if link.tags contains "verified" %}
                <img src="/assets/images/verified.png" alt="ChiaLinks Recommended" title="ChiaLinks Recommended" />
                {% endif %}
              </td>
              <td style="text-align: left">
                {% if link.description != nil %}
                {{ link.description }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for link in sorted_links %}
    {% include linkblock.html link=link tag=include.tag %}
  {% endfor %}
{% endif %}
